/* Project DATA */
.projectData{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectData__image{
    max-width: 700px; 
}
.projectData__title{

}

/* Project INFO */
.projectInfo{
    text-align: left;
    max-width: 700px;
}
.projectInfo__group{
    margin: 20px 0;
    border-left: 2px solid #ddd;
    padding: 15px;
}
.projectInfo__group-label{
    font-size: 1.4rem;
    margin: 10px 0;
    display: inline-block;
    margin-bottom: 10px;
}
.projectInfo__group-value{
    font-size: 1.2rem;
}

.buttonGroup{
    display: flex;
    justify-content: space-around;
}