.modalFilter{
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 20px;
    position: absolute;
    left: 10vw;
    box-shadow: 5px 5px 10px #ccc;
    visibility: hidden;
}

/* Header */
.modalFilter__header{
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.header__title{
    font-size: 1.3rem;
    font-weight: bolder;
    color: #2c80b9;
}
.header__close{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.header__close-icon{
    color: #2c80b9;
}

/* Sections */
.modalFilter__section{
    margin-bottom: 20px;
}
.filter__label{
    margin-bottom: 5px;
}

.filter__name{
    border: 1px solid #eee;
    padding: 5px;
}

.filter__value{
    width: 100%;
    margin: 10px 0 ;
}

.filter__state{
    border: 1px solid #eee;
    padding: 5px;
}