.projectsPage{
    display: flex;
    justify-content: center;
}

.cardProject{
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    max-height: 500px;
}
.cardProject__image{
    width: 100%;
    width: 300px;
}
.cardProject__title{
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin: 10px;
}
.cardProject__state{
    color: #FFF;
    background-color: #2775B0;
    padding: 5px 10px;
    border-radius: 8px;
    display: block;
    max-width: fit-content;
}

/* styles for filter feedback */
.projectsPage__filterFeedback{
    background-color: #eee;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
}
.filterFeedback__title{
    border-left: 1px solid black;
    padding-left: 10px;
}
.filterFeedback__group{
    padding: 5px 0;
}
.groupFilter__label{
    font-size: 1.1rem;
}
.groupFilter__value{
    padding: 0 5px;
    background-color: #2775B0;
    color: #FFF;
    border-radius: 8px;
}


/* Media-Queries */
@media screen and (min-width: 768px) {
    .projectsPage__projectList{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}