.cardProject{
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
}
.cardProject__image{
    width: 100%;
}
.cardProject__title{
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin: 10px;
}
.cardProject__state{
    color: #FFF;
    background-color: #2775B0;
    padding: 5px 10px;
    border-radius: 8px;
    display: block;
    width: 20px;
}


/* Media-Queries */
@media screen and (min-width: 768px) {
    .cardProject{
    }
}